:root {
  --korean-unicode: U+AC00-D7A3;
  --en-num-unicode: U+0041-005A, U+0061-007A, U+0030-0039;
}

* {
  box-sizing: border-box;
  font-family: E_SFPro_Regular, K_SpoqaHanSansNeo_Regular, Apple SD Sandol Gothic Neo, sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: E_SFPro_Regular, K_SpoqaHanSansNeo_Regular, Apple SD Sandol Gothic Neo, sans-serif;
  background-color: #141414;
}

button {
  border: 1px solid #353535;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-weight: 400;
  font-family: K_SpoqaHanSansNeo_Regular;
  src: url('/fonts/K_SpoqaHanSansNeo_Regular.woff2') format('woff2');
  unicode-range: var(--korean-unicode);
}

@font-face {
  font-weight: 500;
  font-family: K_SpoqaHanSansNeo_Medium;
  src: url('/fonts/K_SpoqaHanSansNeo_Medium.woff2') format('woff2');
  unicode-range: var(--korean-unicode);
}

@font-face {
  font-weight: 700;
  font-family: K_SpoqaHanSansNeo_Bold;
  src: url('/fonts/K_SpoqaHanSansNeo_Bold.woff2') format('woff2');
  unicode-range: var(--korean-unicode);
}

@font-face {
  font-weight: 400;
  font-family: E_SFPro_Regular;
  src: url('/fonts/E_SFPro_Regular.woff2') format('woff2');
  unicode-range: var(--en-num-unicode);
}

@font-face {
  font-weight: 500;
  font-family: E_SFPro_Medium;
  src: url('/fonts/E_SFPro_Medium.woff2') format('woff2');
  unicode-range: var(--en-num-unicode);
}

@font-face {
  font-weight: 700;
  font-family: E_SFPro_Bold;
  src: url('/fonts/E_SFPro_Bold.woff2') format('woff2');
  unicode-range: var(--en-num-unicode);
}
