:root {
  --korean-unicode: U+AC00-D7A3;
  --en-unicode: U+0041-005A, U+0061-007A;
  --woff2: 'woff2';
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: E_SFPro_Regular, K_SpoqaHanSansNeo_Regular, sans-serif;
}

@font-face {
  font-weight: 400;
  font-family: K_SpoqaHanSansNeo_Regular;
  src: url('/fonts/K_SpoqaHanSansNeo_Regular.woff2') format('woff2');
  unicode-range: var(--korean-unicode);
}

@font-face {
  font-weight: 500;
  font-family: K_SpoqaHanSansNeo_Medium;
  src: url('/fonts/K_SpoqaHanSansNeo_Medium.woff2') format('woff2');
  unicode-range: var(--korean-unicode);
}

@font-face {
  font-weight: 700;
  font-family: K_SpoqaHanSansNeo_Bold;
  src: url('/fonts/K_SpoqaHanSansNeo_Bold.woff2') format('woff2');
  unicode-range: var(--korean-unicode);
}

@font-face {
  font-weight: 400;
  font-family: E_SFPro_Regular;
  src: url('/fonts/E_SFPro_Regular.woff2') format('woff2');
  unicode-range: var(--en-unicode);
}

@font-face {
  font-weight: 500;
  font-family: E_SFPro_Medium;
  src: url('/fonts/E_SFPro_Medium.woff2') format('woff2');
  unicode-range: var(--en-unicode);
}

@font-face {
  font-weight: 700;
  font-family: E_SFPro_Bold;
  src: url('/fonts/E_SFPro_Bold.woff2') format('woff2');
  unicode-range: var(--en-unicode);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
